{#
/**
 * @file
 * Theme override for an image using a specific image style.
 *
 * Available variables:
 * - attributes: HTML attributes for the image, including the following:
 *   - src: Full URL or relative path to the image file.
 *   - class: One or more classes to be applied to the image.
 *   - width: The width of the image (if known).
 *   - height: The height of the image (if known).
 *   - title: The title of the image.
 *   - alt: The alternative text for the image.
 *
 * @see template_preprocess_image_style()
 */
#}
{% if style_name=='medium' or style_name=='full_width' or style_name=='medium_300' %}
  {% set fulluri = uri|replace({"private://":"/system/files/"}) %}
     <div class="imagezoomcontainer">
     <a href="{{ fulluri }}" class="imagezoom" data-lightbox="{{ title }}" data-title="{{ title }}">
      {{ image }}
      <i class="fa-solid fa-magnifying-glass-plus">
      </i>
     </a>
     </div>
{% else %}
 {{ image }}
{% endif %}
