<div class="checkbox-grid-container">
  <div class="checkbox-title">Filter By Category</div>
  <div class="checkbox-grid">                         
    {% set column = 1 %}                              
    {% set tcga = 0 %}                                
{% for subject in subject_tags %}
          {% if subject.label == 'Access Data' %}
             <div class="col">
               <label>
                 <input id="term-{{ subject.target_id }}" data-term="{{ subject.target_id }}" class="term-filter"  type="checkbox" name="subject_tags[]" value="{{ subject.target_id }}">{{ subject.label }}
               </label>
          {% elseif subject.label == 'TCGA' %}
               <label>
                 <input type="checkbox" name="subject_tags[]" data-term="{{ subject.target_id }}" id="term-{{ subject.target_id }}" class="term-filter" value="{{ subject.target_id }}">{{ subject.label }}
               </label>
             </div>
          {% else %}
             <div class="col">
               <label>
                 <input type="checkbox" name="subject_tags[]" data-term="{{ subject.target_id }}" id="term-{{ subject.target_id }}" class="term-filter" value="{{ subject.target_id }}">{{ subject.label }}
               </label>
             </div>
          {% endif %}
{% endfor %}
</div>
</div>
</div>

{% for node in nodes %}
<div class="faq-container" style="display: none;" data-tags="{% for subjecttag_item in node.field_subject_tag %}{{ subjecttag_item.target_id|raw }}{% if not loop.last %},{% endif %}{% endfor %}">
  <div class="views-field views-field-title">
    <span class="plusminus">+</span><a>{{ node.title.value }}</a>
  </div>
  <div class="views-field views-field-body" style="display:none">
    {{ node.body.value|raw }}
  </div>
</div>
{% endfor %}

