{#
  /**
   * @file
   * Theme override to display a view of unformatted rows.
   *
   * Available variables:
   * - title: The title of this group of rows. May be empty.
   * - rows: A list of the view's row items.
   *   - attributes: The row's HTML attributes.
   *   - content: The row's content.
   * - view: The view object.
   * - default_row_class: A flag indicating whether default classes should be
   *   used on rows.
   *
   * @see template_preprocess_views_view_unformatted()
   */
  #}
  {% set strippedTitle = title|striptags|trim %}
  {% set link = title|striptags('<a>')|trim %}
  {% set link2 = link|split('href="') %}
  {% set link3 = link2[1]|split('"') %}
  {% set href = link3[0] %}
  <ul data-multi-expand="true" data-allow-all-closed="true" data-slide-speed="250" class="accordion publication" data-accordion="data-accordion">
    {% if strippedTitle %}
      <h5 class="publicationGroupTitle">{{ strippedTitle }}</h5>
      <div class="publicationViewSummary"><a href="{{ href }}">View Summary Page</a></div>
      {% set titleId = strippedTitle|replace({' ': '_', '.': '', ',': '', ':': '', '(': '', ')': ''})|lower %}
      <li class="accordion-item" data-accordion-item="">
        <a href="#{{ titleId }}" class="accordion-title" aria-controls="{{ titleId }}" id="{{ titleId }}-label" aria-expanded="false">  
          Show {{ rows|length }} Publication{% if rows|length > 1 %}s{% endif %}
        </a>
        <div class="accordion-content" data-tab-content="" id="{{ titleId }}" role="region" aria-labelledby="{{ titleId }}-label" aria-hidden="true">    
    {% endif %}
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
       {{- row.content -}}
      </div>
    {% endfor %}
    {% if strippedTitle %}
        </div>
      </li>
    {% endif %}
  </ul>
  
